{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Web App</h1>
                {{ with .Result }}
                    {{ range . }}
                        {{with .Values}}
                            {{ range . }}
                                {{.}}
                            {{end}}
                        {{end}}
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
{{end}}
